<template>
  <v-row justify="center" no-gutters>
    <v-col cols="12" md="8" class="d-flex justify-center">
      <v-card
        color="primary"
        class="rounded-lg pa-4"
        flat
        max-width="450"
        width="450"
        :loading="loading"
      >
        <v-card-title class="justify-space-between">
          افزودن کالا
          <v-icon>mdi-plus</v-icon>
        </v-card-title>
        <v-divider/>
        <v-card-text>
          <v-text-field v-model="object.name" placeholder="نام" filled append-icon="mdi-form-textbox" color="accent"/>
          <v-textarea v-model="object.description" placeholder="توضیحات" filled append-icon="mdi-text" color="accent"/>
          <v-file-input
            v-model="object.picture"
            :value="object.picture"
            placeholder="تصویر"
            filled
            accept="image/png, image/jpeg, image/bmp"
            prepend-icon=""
            append-icon="mdi-paperclip"
            color="accent"
          />
          <v-text-field
            v-model="object.price"
            placeholder="قیمت اصلی"
            filled
            append-icon="mdi-currency-usd"
            color="accent"
            suffix="تومان"
          />
          <v-text-field
            v-model="object.discount"
            placeholder="تخفیف"
            filled
            suffix="تومان"
            append-icon="mdi-currency-usd"
            color="accent"
          />
          <v-select v-model="object.stock" placeholder="وضعیت" filled :items="stocks" color="accent"/>
        </v-card-text>
        <v-card-actions class="justify-end">
          <v-btn large class="rounded-lg" color="secondary" depressed @click="send">
            ارسال
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'ProductsAdmin',

  data: () => ({
    loading: true,
    progress: 0,
    object: {
      name: '',
      description: '',
      picture: null,
      price: '0',
      discount: '0',
      stock: null
    },
    stocks: [
      {
        text: 'موجود',
        value: 'available'
      },
      {
        text: 'ناموجود',
        value: 'finished'
      },
      {
        text: 'توقف تولید',
        value: 'stopped'
      }
    ]
  }),

  methods: {
    send () {
      this.loading = true

      const config = {
        headers: { 'Content-Type': 'multipart/form-data' },
        onUploadProgress: function (progressEvent) {
          this.progress = Math.round((progressEvent.loaded * 100) / progressEvent.total)
          this.$forceUpdate()
        }.bind(this)
      }

      const formData = new FormData()

      formData.append('name', this.object.name || '')
      formData.append('description', this.object.description || '0')
      formData.append('price', this.object.price || '0')
      formData.append('discount', this.object.discount || '0')
      formData.append('stock', this.object.stock || 'finished')

      // if (this.object.picture != null) {
      formData.append('picture', this.object.picture)
      // }

      this.$api.post('/api/admin/product.php', formData, config)
        .then(({ data }) => {
          console.log(data)
        })
        .finally(this.loading = false)
    }
  }
}
</script>
