<template>
  <v-card class="ma-3 fill-height d-flex flex-column justify-space-between rounded-lg">
    <div>
      <v-img :src="product.picture" class="ma-4 rounded-t-lg"/>
      <v-card-title v-text="product.name" class="text-break"/>
      <v-divider class="mx-4"/>
      <v-card-text v-text="product.description" class="text-justify"/>
    </div>
    <v-card-actions v-if="!productStock.ava" class="justify-end align-start font-weight-bold grey--text">
      {{ productStock.title }}
    </v-card-actions>
    <v-card-actions v-else-if="product.discount !== '0'" class="justify-end align-start">
      <v-chip color="primary" small class="rounded-lg" v-text="showDiscount"/>
      <div class="ms-2 text-left">
        <span class="text-decoration-line-through">{{ price(parseInt(product.price)) }} تومان</span>
        <br>
        <span>{{ price(afterDiscount) }} تومان</span>
      </div>
    </v-card-actions>
    <v-card-actions v-else class="justify-end align-start">
      <span>{{ price(parseInt(product.price)) }} تومان</span>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'ProductCard',

  props: {
    product: {
      type: Object,
      default: () => {
      }
    }
  },

  computed: {
    productStock () {
      const obj = {
        ava: true,
        title: ''
      }
      switch (this.product.stock) {
        case 'available':
          obj.ava = true
          break
        case 'finished':
          obj.ava = false
          obj.title = 'ناموجود'
          break
        case 'stopped':
          obj.ava = false
          obj.title = 'توقف تولید'
          break
      }
      return obj
    },
    showDiscount () {
      let dis = 0
      dis = Math.floor((parseInt(this.product.discount) * 100) / parseInt(this.product.price))
      return dis + '%'
    },
    afterDiscount () {
      return parseInt(this.product.price) - parseInt(this.product.discount)
    }
  }
}
</script>
