@font-face {
  font-family: shabnam;
  src: url('assets/Shabnam-Medium-FD.woff2') format('woff2');
  font-weight: 500;
}

* {
  font-family: shabnam, sans-serif;
  -webkit-text-size-adjust: none !important;
  text-size-adjust: none !important;
  -moz-text-size-adjust: none !important;
  -ms-text-size-adjust: none !important;
}

.fill-height {
  height: 100%;
}
