<template>
  <v-row no-gutters justify="center">
    <v-col cols="12" md="8" class="d-flex justify-center">
      <v-card color="primary" class="rounded-lg pa-4" flat max-width="450" width="450">
        <transition name="fade-transition" mode="out-in">
          <v-card-title v-if="state === 'submit'" key="submit" class="justify-space-between">
            ثبت نام
            <v-icon>mdi-login</v-icon>
          </v-card-title>
          <v-card-title v-else key="login" class="justify-space-between">
            ورود
            <v-icon>mdi-login</v-icon>
          </v-card-title>
        </transition>

        <v-card-text class="px-8 py-4">
          <transition name="fade-transition" mode="out-in">
            <v-text-field
              v-show="state === 'submit'"
              v-model="user.username"
              :autocomplete="false"
              label="نام کاربری"
              append-icon="mdi-account"
              filled
              color="accent"
            />
          </transition>
          <v-text-field
            v-model="user.email"
            label="ایمیل"
            append-icon="mdi-at"
            filled
            color="accent"
            type="email"
          />
          <v-text-field
            v-model="user.password"
            label="رمز عبور"
            type="password"
            append-icon="mdi-lock-outline"
            filled
            color="accent"
          />
        </v-card-text>
        <v-alert v-show="error != null" color="red lighten-1" dense border="left" class="mx-8">
          {{ error }}
        </v-alert>
        <transition name="fade-transition" mode="out-in">
          <v-card-text v-if="state === 'submit'" key="login">
            حساب کاربری دارید؟
            <v-btn text @click="state = 'login'">
              ورود
            </v-btn>
          </v-card-text>
          <v-card-text v-else key="submit" class="text-right">
            یک حساب جدید بسازید
            <v-btn text @click="state = 'submit'">
              ثبت نام
            </v-btn>
          </v-card-text>
        </transition>
        <transition name="fade-transition" mode="out-in">
          <v-card-actions v-if="state === 'login'" key="login">
            <v-btn large color="secondary" depressed class="rounded-lg" @click="login">
              ورود
              <v-icon class="ms-2">
                mdi-login
              </v-icon>
            </v-btn>
          </v-card-actions>
          <v-card-actions v-else key="submit" class="justify-end">
            <v-btn large color="secondary" depressed class="rounded-lg" @click="submit">
              ثبت نام
              <v-icon class="ms-2">
                mdi-login
              </v-icon>
            </v-btn>
          </v-card-actions>
        </transition>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'AuthUser',

  data: () => ({
    state: 'submit',
    error: null,
    user: {
      username: '',
      email: '',
      password: ''
    }
  }),

  methods: {
    login () {
      this.error = null
      this.$api.post('/api/auth.php', {
        action: 'login',
        email: this.user.email,
        password: this.user.password
      })
        .then(function (response) {
          if (response.data.status === 200) {
            this.users = response.data.data
            this.$router.replace('/')
          } else {
            this.error = response.data.message
          }
        }.bind(this))
    },
    submit () {
      this.$api.post('/api/auth.php', {
        action: 'submit',
        username: this.user.username,
        email: this.user.email,
        password: this.user.password
      }).then(function (response) {
        if (response.data.status === 200) {
          this.users = response.data.data
          this.$router.replace('/')
        } else {
          this.error = response.data.message
        }
      }.bind(this))
    }
  }
}
</script>
