<template>
  <div style="max-width: 100%;" class="mb-8">
    <v-row v-if="object != null">
      <v-col cols="12">
        <v-carousel
            v-model="carousel"
            :height="$vuetify.breakpoint.smAndDown ? 200 : 'fit-content'"
            hide-delimiter-background
            :hide-delimiters="$vuetify.breakpoint.smAndDown"
        >
          <v-carousel-item
              v-for="(item, i) in object.sliders"
              :key="i"
          >
            <v-img :src="item.picture" :alt="item.alt" lazy-src="/lazy.jpg" height="100%" :aspect-ratio="16/4"/>
          </v-carousel-item>
        </v-carousel>
      </v-col>
    </v-row>
    <v-row v-if="object != null" class="mx-md-16 px-lg-16">
      <v-col
          v-for="(item, i) in object.products"
          :key="i"
          cols="12"
          sm="6"
          md="4"
          lg="3"
      >
        <product-card :product="item"/>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import ProductCard from '~/components/cards/productCard'

export default {
  name: 'IndexPage',

  components: { ProductCard },

  data: () => ({
    loading: false,
    carousel: 0,
    colors: [
      'primary',
      'secondary',
      'yellow darken-2',
      'red',
      'orange'
    ],
    object: null
  }),

  created () {
    this.fetch()
  },

  methods: {
    fetch () {
      this.loading = true

      this.$api.get('/api/home.php')
          .then(({ data }) => {
            this.object = data.data
            console.log('data: ', data.data)
          })
          .finally(this.loading = false)
    }
  }
}
</script>
